main {
  @include flex(center);
  @include fill;
  flex-direction: column;

  .menu {
    width: 70%;

    .title {
      font-family: $base-font-family;
      font-weight: $title-weight;
      font-size: $title-font-size;
      color: $main-black;
      padding-top: 4rem;
    }
  }
}
