.side-menu-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  display: flex;
  justify-content: flex-end;
  .side-menu-overlay {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.356);
  }
  .side-menu {
    background-color: $main-white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60rem;
    height: 100vh;
    .side-menu-header {
      font-family: $base-font-family;
      font-size: $title-font-size;
      font-weight: $title-weight;
      background-color: $main-yellow;
      color: $main-white;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: $base-padding;
      button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        i {
          color: $main-white;
          border-radius: 50%;
          border: $main-white solid 0.1rem;
          font-size: 2rem;
          padding: 0.6rem 1rem;
        }
      }
    }
    .side-menu-content {
      display: flex;
      height: 100%;
    }
    .side-menu-footer {
      background-color: $main-yellow;
      padding: $base-padding 0;
    }
  }
}
