.card {
  @include flex(start);
  @include fill;
  flex-direction: column;
  color: $main-black;
  background-color: $main-white;
  padding: 0.5rem;
  cursor: pointer;
  transition: .2s;
  border-radius: $base-radius;
  
  .superior-card {
    @include flex(start);
    @include fill;
    img {
      color: $main-black;
      background-color: rgb(228, 228, 228);
      border-radius: $base-radius;
      width: 5rem;
      height: 5rem;
      opacity: .6;
    }
    .card-info {
      padding-left: $base-padding;
      h1 {
        font-size: $base-font-size;
        font-family: $base-font-family;
        font-weight: $title-weight;
      }
      p {
        margin: 1rem 0 3rem 0;
        font-size: $base-font-size;
        font-family: $base-font-family;
        font-weight: $text-weight;
      }
    }
  }
  .inferior-card {
    @include flex(end);
    @include fill;
    padding-top: 1rem;
    .card-icons {
      font-size: 1.7rem;
      i{
        margin: 0 .3rem;
      }
    }
  }
  &:hover {
    transform: translatey(-.5rem);
  }
}
