.carousel {
  .carousel__viewport {
    ol {
      color: $main-black;
      font-size: calc($base-font-size + 0.1rem);
      font-weight: $title-weight;
      font-family: $base-font-family;
      .carousel__item {
        background-color: $main-white;
        padding: .5rem;
      }
    }
  }
  .carousel__prev {
    color: $main-yellow;
    background-color: $main-white;
  }
  .carousel__next {
    color: $main-yellow;
    background-color: $main-white;
  }
}
