.carousel {
  @include flex(center);
  .carousel__viewport {
    width: 95%;
  }
  button {
    color: $main-yellow;
  }
  .filter {
    background-color: $main-white;
    font-family: $base-font-family;
    color: $main-black;
    font-weight: $title-weight;
    font-size: $base-font-size;
    background-color: $main-white;
    padding: .8rem;
    cursor: pointer;
  }
}
/////////////////////////////////////////////////////////////////////////////////////////////////