main {
  .menu {
    .title {
      font-family: $base-font-family;
      font-weight: $title-weight;
      font-size: $title-font-size;
      color: $main-black;
      padding-top: 4rem;
    }
  }
}
