//Color variables
$main-yellow: #e6d607;
$main-white: #f5f5f5;
$main-red: #ff0000;
$main-black: #3b485b;

//Font sizes
$base-font-size: 1.4rem;
$title-font-size: 2rem;

//Font Family
$base-font-family: "Hind", sans-serif;

//Font weight
$title-weight: 600;
$text-weight: 400;

// Padding and margin variables
$base-padding: 1.5rem;
$base-margin: 2rem;
$container-margin: 10rem;

//Radius variable
$base-radius: 1rem;
